<h1>Update</h1>

<form action="<%=idea_path(@idea) %>" method="post" >
  <input type="hidden"  name="_method" value="put" >
  <%=render "form" %>


  <% if @idea.errors.any? %>
      <h3> <%= @idea.errors.full_messages.join(",") %></h3>
  <% end %>
</form>

